<a href="https://colab.research.google.com/github/danielleitesoares/Work_Sentimental_Analyzer_Of_Restaurant_Issue/blob/main/Analise_dos_Sentimentos_Restaurantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analise de Sentimentos Restaurantes 
> Equipe: Leonardo Rocha, Paulo Correa e Daniel Soares
> Turma 02

### 1. Exibindo dados do Arquivo dataset-v2.dat

In [ ]:
import pandas as pd

In [ ]:
! git clone https://github.com/paulordie/sentimental_ds

fatal: destination path 'sentimental_ds' already exists and is not an empty directory.

In [ ]:
%cd sentimental_ds/

/content/sentimental_ds

In [ ]:
cols = ['title','reviewId', 'restaurantId','author','reviewBody','language','mobileDevice','userLocation','publicationDate','visitDate','ratingValue','itemReviewed','address','addressLocality','addressRegion','postalCode','country','website','email','phoneNumber','averageRating']
dados = pd.read_csv('pc-dataset-v2.csv', names= cols, engine = 'python', delimiter=',', skiprows=0, dtype = 'string')
dados.head()

                                  title  ... averageRating
0                               Jantar   ...           4.5
1             Uma boa experi\u00EAncia.  ...           4.5
2                    Otimo self service  ...           4.5
3  O sorvete mais tradicional do estado  ...           4.0
4                     Melhor hamburger!  ...           4.5

[5 rows x 21 columns]

In [ ]:
dados.tail()

                                  title  ... averageRating
99995  Nova op\u00E7\u00E3o no Paseo!!!  ...           4.0
99996                               Bom  ...           4.5
99997                           Bom bar  ...           4.5
99998              Me senti enganada...  ...           3.5
99999             Restaurante excelente  ...           5.0

[5 rows x 21 columns]

In [ ]:
dados.describe()

            title reviewId restaurantId  ...  email phoneNumber averageRating
count      100000   100000       100000  ...  99999       99999         90003
unique      64216    94203        23444  ...   6482        9532             9
top     Muito bom  1098021      1065305  ...   None        None           4.5
freq         1640      120          965  ...  47385        6893         44028

[4 rows x 21 columns]